@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #ff5959;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 15px;
}

h1 {
    font-size: 65px;
    margin-bottom: 10px;
    color: white;
}

h2 {
    font-size: 45px;
    padding: 15px 0;
}

h3 {
    padding: 15px 0;
}

p {
    font-size: 14px;
}


#hero {
    text-align: center;
    background-image: url(images/donation0.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero p {
    color: white;
}

#hero::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .5;
    z-index: -1;
}

#donation {
    text-align: center;
    margin: 30px 160px;
}

/* .donation-text h2 {
    margin-bottom: 10px;
} */

.donate-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.donate-amount p {
    margin: 2px;
    padding: 15px;
}

.selected {
    padding: 15px;
    margin: 2px;
    color: crimson;
    background-color: rgba(220, 20, 60, 0.15);
    border: 1px solid crimson;

}

.donate-input input {
    display: inline-block;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    padding: 10px 40px;
}

#donation-plan {
    text-align: center;
    margin: 40px 0;
}

.donation-text p {
    margin: 0 160px;
}

.donation-card {
    display: flex;
    text-align: left;
    margin: 30px 70px;
}

.donation-card img {
    width: 30px;
    height: 30px;
}

.donation-card-item {
    margin: 15px;
    padding: 50px 20px;
    width: 33.3%;
    overflow: hidden;
    min-height: 350px;
}

.donation-card-item:nth-child(1) {
    background-color: hsla(140, 63%, 35%, 0.199);
}

.donation-card-item:nth-child(2) {
    background-color: hsla(337, 63%, 35%, 0.205);
}

.donation-card-item:nth-child(3) {
    background-color: hsla(64, 87%, 50%, 0.205);
}

.donor-container-text {
    text-align: center;
}

.donor-container {
    display: flex;
    padding: 20px;
    margin: 0 20px;
}

.donor {
    display: flex;
    margin: 0 15px;
    background-color: rgba(127, 255, 212, 0.377);
    padding: 10px 50px;

}

.donor img {
    width: 100px;
    height: 100px;
}

.donor-text {
    padding-left: 30px;
}

.newsletter-text {
    text-align: center;
    padding: 30px auto;
    margin-bottom: 20px;
}

.newsletter-input {
    text-align: center;
    max-width: 800px;
    padding: 40px 30px;
    margin: 10px auto;
    background-color: rgba(220, 20, 60, 0.171);

}

.newsletter-input input {
    display: inline-block;
    padding: 10px 70px 10px 10px;
    border-radius: 7px 0 0 7px;
    border-style: hidden;
    background-color: #d9d9d9;
}

.newsletter-input button {
    margin-left: -10px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 0 7px 7px 0;
    border-style: hidden;
    background-color: #ff5959;
}

footer {
    text-align: center;
    background-color: black;
    color: gray;
    padding-bottom: 20px;
    margin-top: 40px;
}

footer h3 {
    font-family: 'Lobster', cursive;
    color: #ff5959;
}